#footer{
    background-color: #262426;
    padding: 56px 0;
    margin: 0 auto;
    min-width: 1200px;
    margin-top: 82px;


}
#footer p{
    color: #666;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 14px;
    line-height: 20px;


}
#footer p a{
    color: #666;
}
#footer .friendly-links a{
    color: #FD7E02;
}

#footer .friendly-links span{
    display: inline-block;
    border-left: 1px solid #444;
    margin: 0 7px;
    height: 12px;
    position: relative;
    top: 1px;
}